body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex; 
  align-items: center; 
  background-color: #D9D9D9;
  position: relative;
  top: 0;
  z-index: 10;     /* La navbar est prioritaire sur les autre éléments */
  padding: 0; 
}

.navbar a {
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar a:hover {
  background-color: #D9D9D9;
  color: black;
}

.navbar a.index {
  background-color: #04AA6D;
  color: black;
}

#navbar_right {
  margin-left: auto; 
}

@media screen and (max-width: 500px) {
  .navbar {
      position: sticky; 
      top: 0;
  }
}

hr {
  border: none;
  height: 3px;
  background-color: #D9D9D9;
  width: 50%; 
  margin: 20px auto; 
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input[type=text],input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #089C3F;
}

.container {
  box-sizing : border-box;
  border-radius:5px;
  background-color:#F2F2F2;
  padding:20px;
  width: 100%;
  max-width: 440px;
  margin:0 auto;
}
h2  {
  color: #000000;
  width: 100%;
  text-align: center;
}