img { 
    max-width: 100%;
}

#navbar {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
    font-weight: bolder;
    background-color: #4B5943;
    box-sizing:content-box;    
    position: static;
}
